{% extends 'basecopy.html.twig' %}

{% block title %}Articles {% endblock %}

{% block body %}
    
    
    {#{{ form_start(formSearch) }}
    {{ form_row(formSearch.title) }}
    {{ form_row(formSearch.category) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}
     {% if results|length > 0 %}
        <ul>
        {% for article in results %}
            <li>{{ article.title }} - {{ article.articleCategory }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé</p>
    {% endif %}#}

   
<!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for article in articles %}
               <article class="entry">

               <div class="entry-img">
                  <img src="{{ asset('/FrontOffice/img/dnt.png') }}" alt="" class="img-fluid">
               </div>

               <h2 class="entry-title">
                  <a href="blog-single.html">{{ article.title }}</a>
               </h2>

               <div class="entry-meta">
                  <ul>
                     <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{ article.articleCategory.name }}</a></li>
                     <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</time></a></li>
                     <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                  </ul>
               </div>

               <div class="entry-content">
                  <p>
                    {{ article.content |slice(0, 50)}}
                  </p>
                  <div class="read-more">
                     <a href="{{ path('app_article_showfront', {'id': article.id}) }}" style="background:#A40E1C;">Read More</a>
                  </div>
               </div>

               </article><!-- End blog entry -->

         {% endfor %}
          </div><!-- End blog entries list -->


        </div>

      </div>
    </section><!-- End Blog Section -->

    
{% endblock %}