{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-solid fa-user fa-fw" style="color:#37474F;"></i><span>{{ form_label(form.name, 'Name') }}</span>
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.name) }}
                                </div> 

                                <div class="form-group">
                                                <label for="name1"></label>
                                               <i class="fa-solid fa-file-lines fa-fw" style="color:#37474F;"></i><span>{{ form_label(form.description, 'Description') }}</span>
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.description) }}
                                </div>

                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-solid fa-layer-group fa-fw" style="color:#37474F;"></i><span>{{ form_label(form.productCategory, 'Category ') }}</span>
                                                {{ form_widget(form.productCategory, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.productCategory) }}
                                </div>

                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-solid fa-tag fa-fw" style="color:#37474F;"></i><span> {{ form_label(form.price, 'Price') }}</span>
                                                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.price) }}
                                </div>      

                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-solid fa-boxes-stacked fa-fw" style="color:#37474F;"></i> <span>{{ form_label(form.stock, 'Stock') }}</span>
                                                {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.stock) }}
                                </div>
                                
                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-solid fa-star fa-fw" style="color:#37474F;"></i><span>{{ form_label(form.rating, 'Rating') }}</span>
                                                {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.rating) }}
                                </div>  
                                                                <div class="form-group">
                                                <label for="name1"></label>
                                                <i class="fa-regular fa-image fa-fw" style="color:#37474F;"></i><span>{{ form_label(form.image, 'Image') }}</span>
                                                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.image) }}
                                </div>  
                                   <br>

                                <div class="button-group d-flex  justify-content-md-end ">
                                        <a href="{{ path('app_product_index_admin') }}">
                                                <button class="btn btn-lg btn-primary btn-submit" style="background:#A40E1C;">
                                                     {{ button_label|default('Add Product') }}
                                                </button>
                                        </a>         
                                </div>
                                       
{{ form_end(form) }}
   
