{% extends 'base.html.twig' %}

{% block title %}Emergencies List{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="breadcrumb-main">
                        <h1 class="text-capitalize fw-500 breadcrumb-title gradient-text"></h1>
                        <div class="action-btn">
                            <a href="{{ path('app_emergency_new') }}" class="btn px-15 " style="background-color: darkred; color: white;">
                                <i class="las la-plus fs-16"></i>Create new Emergency
                            </a>
                        </div>

                    </div>
                    <h1 class="text-capitalize fw-500 breadcrumb-title gradient-text"><strong>Emergencies list</strong></h1>
                    <br>
                    <br>
                    <br>
                </div>
                {% for emergency in emergencies %}

                    <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                        <div class="card">
                            <div class="card-body text-center pt-30 px-25 pb-0">

                                <div class="account-profile-cards ">
                                    <div class="ap-img d-flex justify-content-center">
                                        <!-- Profile picture image-->
                                        <img class="ap-img__main bg-opacity-primary  wh-120 rounded-circle mb-3 " src="/img/svg/emergency1.svg" alt="Icon" style="background-color: RGBA(0,0,0,0.08);">

                                    </div>
                                    <div class="ap-nameAddress">
                                        <h6 class="ap-nameAddress__title">{{ emergency.title }}</h6>
                                        <p class="ap-nameAddress__subTitle  fs-14 pt-1 m-0 ">{{ emergency.description }}</p>
                                    </div>
                                    <div class="ap-button account-profile-cards__button button-group d-flex justify-content-center flex-wrap pt-20">
                                        <a href="{{ url('app_donation_new', {'id': emergency.id}) }}" class="border text-capitalize px-25 color-gray transparent radius-md">
                                            <i class="fa-solid fa-hand-heart">Donate</i>
                                        </a>

                                        <a href="{{ url('app_emergency_show', {'id': emergency.id}) }}" class="border text-capitalize px-25 color-gray transparent radius-md">
                                            <i class="fa-regular fa-eye">Show</i>
                                        </a>
                                    </div>
                                </div>

                                <div class="card-footer mt-20 pt-20 pb-20 px-0 bg-transparent">

                                    <div class="profile-overview d-flex justify-content-between flex-wrap">
                                        <div class="po-details">
                                            <h3 class="po-details__title" style="background-image: linear-gradient(to right, #FF4136, #000000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{ emergency.deadline ? emergency.deadline|date('Y-m-d') : '' }}</h3>


                                            <span class="po-details__sTitle">Deadline</span>
                                        </div>
                                        <div class="po-details">
                                            <h6 class="po-details__title"> {{ emergency.bloodType }}</h6>
                                            <span class="po-details__sTitle">BloodType</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <div class="d-flex justify-content-end mt-1 mb-50">



                    </div>
                </div>
            </div>
        </div>
{% endblock %}