{% extends 'baseFront.html.twig' %}

{% block title %}Emergencies List{% endblock %}

{% block body %}
    <style>
        .social-media-sharing {
            display: flex;
            align-items: center;
        }

        .social-media-sharing p {
            margin-right: 10px;
            color: darkred;
        }

        .social-media-sharing a {
            margin-right: 10px;
        }

    </style>
    <div class="container-fluid" STYLE="padding: 80px; padding-top: 100px;padding-left: 120px">
        <div class="row">
            <div class="col-lg-12">

                <div class="breadcrumb-main application-ui mb-30">
                    <div class="breadcrumb-action d-flex">
                        <div class="d-flex align-items-center user-member__title me-sm-25 me-0">
                            <h4 class="text-capitalize fw-500 breadcrumb-title">Emergency Details</h4>
                        </div>
                    </div>
                    <div class="d-flex text-capitalize">
                        <form method="post" action="{{ path('app_emergency_edit', {'id': emergency.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ emergency.id) }}">
                            <button class="breadcrumb-edit btn btn-white border-0 color-primary content-center fs-12 fw-500 radius-md"> <img src="/FrontOffice/img/svg/edit-3.svg" alt="edit-3" class="svg">edit</button></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="projects-tab-content mb-30">
            <div class="row">
                <div class="col-xxl-3 col-lg-4 mb-25">
                    <div class="progress-box px-25 pt-25 pb-10 bg-success radius-xl">
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="text-white fw-500 fs-16 text-capitalize">  {{ emergency.status }}</h6>
                        </div>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress progress-height">
                                <div class="progress-bar bg-white" role="progressbar" style="width: 100%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-25">
                        <div class="card-body">
                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-secondary content-center">
                                    <img class="svg wh-25 text-secondary" src="/FrontOffice/img/svg/at.svg" alt="img">
                                </div>
                                <div class="application-task-content">
                                    <h4>Blood Type</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize"> {{ emergency.bloodType }}<i class="bi bi-heart"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-8 mb-25">
                    <div class="card border-0 pb-md-50 pb-15">
                        <div class="card-header py-sm-20 py-3  px-sm-25 px-3 ">
                            <h1 class="text-capitalize fw-500 breadcrumb-title gradient-text"><strong>About Emergency</strong></h1>
                            <br>
                        </div>
                        <div class="card-body">
                            <div class="about-projects">
                                <div class="about-projects__details">
                                    <p class="fs-15 mb-25">{{ emergency.description }}</p>
                                    <div class="social-media-sharing">
                                        <p>Partager sur :</p>

                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('app_emergency_show', {id: emergency.id}) }}" target="_blank">
                                            <button class="btn btn-primary" style="background-color: #37474F"><i class="fab fa-facebook-f"></i> Facebook</button>
                                        </a>

                                        <a href="https://twitter.com/intent/tweet?url={{ url('app_emergency_show', {id: emergency.id}) }}" target="_blank">
                                            <button class="btn btn-primary" style="background-color: #37474F"><i class="fab fa-twitter"></i> Twitter</button>
                                        </a>

                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('app_emergency_show', {id: emergency.id}) }}" target="_blank">
                                            <button class="btn btn-primary" style="background-color: #37474F"><i class="fab fa-linkedin-in"></i> LinkedIn</button>
                                        </a>
                                    </div>

                                </div>
                                <ul class="d-flex text-capitalize">
                                    <li>
                                        <span class="color-light fs-13">Location</span>
                                        <p class="color-dark fs-14 mt-1 mb-0 fw-500"> {{ emergency.location }}</p>
                                    </li>
                                    <li>
                                        <span class="color-light fs-13">Created At</span>
                                        <p class="color-primary fs-14 mt-1 mb-0 fw-500"> {{ emergency.createdAt ? emergency.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                                    </li>
                                    <li>
                                        <span class="color-light fs-13">Deadline</span>
                                        <p class="color-danger fs-14 mt-1 mb-0 fw-500">{{ emergency.deadline ? emergency.deadline|date('Y-m-d') : '' }}</p>
                                    </li>
                                    <p>Viewed by {{ emergency.view}} people</p>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
