{% extends 'base.html.twig' %}

{% block title %}Emergencies List{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="breadcrumb-main user-member justify-content-sm-between ">
                    <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
                            <h4 class="text-capitalize fw-500 breadcrumb-title">Show Emergency </h4>
                        </div>

                    </div>
                    </div>
                </div>

            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                    <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                            <thead>
                            <tr class="userDatatable-header">
                                <th>
                                    <span class="userDatatable-title">ID</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Title</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Description</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">BloodType</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Location</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Deadline</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Status</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">CreatedAt</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.id }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.title }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.description }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.bloodType }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.location }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.deadline ? emergency.deadline|date('Y-m-d') : '' }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.status }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ emergency.createdAt ? emergency.createdAt|date('Y-m-d H:i:s') : '' }}
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
