{% extends 'admin.html.twig' %}

{% block title %}Ticket List{% endblock %}

{% block body %}
       <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                  <div class="breadcrumb-main user-member justify-content-sm-between ">
                     <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
                           <h4 class="text-capitalize fw-500 breadcrumb-title">Tickets Admin</h4>
                           <span class="sub-title ms-sm-25 ps-sm-25">Home</span>
                        </div>

                        <form action="/" class="d-flex align-items-center user-member__form my-sm-0 my-2">
                           <img src="../img/svg/search.svg" alt="search" class="svg">
                           <input class="form-control me-sm-2 border-0 box-shadow-none" type="search" placeholder="Search by Id" aria-label="Search">
                        </form>

                     </div>
                     <div class="action-btn">
                        <a href="{{path('app_ticket_newAdmin')}}" class="btn px-15 btn-primary" style="background: darkred;">
                           <i class="las la-plus fs-16"></i>Add Ticket
                        </a>
                        
                     </div>
                  </div>

               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                           <thead>
                              <tr class="userDatatable-header">
                                 
                                 <th>
                                    <span class="userDatatable-title">Id</span>
                                 </th>
                                 

                                 <th>
                                    <span class="userDatatable-title">Price</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Stock</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Status</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Actions</span>
                                 </th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              {% for ticket in tickets %}
                              <tr>
                                 <td>
                                    <div class="userDatatable-content">
                                       {{ ticket.id }}
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content">
                                       {{ ticket.price }}
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content">
                                       {{ ticket.stock }}
                                    </div>
                                 </td>
                                 <td>
                                    <div class="userDatatable-content">
                                       {{ ticket.status }}
                                    </div>
                                 </td>
                                 
                                 <td>
                                    <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                       <li>
                                          <a href="{{ path('app_ticket_show_admin', {'id': ticket.id}) }}" class="view">
                                             <span class="iconify" data-icon="uil:eye"></span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('app_ticket_editAdmin', {'id': ticket.id}) }}" class="edit">
                                             <span class="iconify" data-icon="uil:edit"></span>
                                          </a>
                                       </li>
                                       <li>
                                               <a class="remove" href="{{ path('app_ticket_delete', {'id': ticket.id}) }}" onclick="event.preventDefault(); if(confirm('Are you sure you want to delete this item?')) document.getElementById('delete-form-{{ ticket.id }}').submit();">
                                                   <form id="delete-form-{{ ticket.id }}" method="post" action="{{ path('app_ticket_delete', {'id': ticket.id}) }}">
                                                      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                                                       <span class="iconify" data-icon="uil:trash-alt"></span>
                                                   </form>

                                                </a>
                                                
                                            </li>
                                    </ul>
                                 </td>
                              </tr>

                                    {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

                           </tbody>
                        </table>
                     </div>
                     
                  </div>
               </div>
            </div>
            <h1>Ticket Status Statistics</h1>
            
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-sm-6">
                     <canvas id="ticket-chart" width="600" height="600"></canvas>
                  </div>
               </div>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
        // Initialize the chart
            var ctx = document.getElementById('ticket-chart').getContext('2d');
            var chart = new Chart(ctx, {
               type: 'pie',
               data: {
                  labels: ['Available Tickets', 'Sold Out Tickets'],
                  datasets: [{
                    label: 'Ticket Status',
                    data: [{{ availableTickets }}, {{ soldOutTickets }}],
                    backgroundColor: [
                        '#FF9090',
                        '#D02525'
                    ],
                    borderColor: [
                        '#FF9090',
                        '#D02525'
                    ],
                    borderWidth: 1
                  }]
                },
                  options: {
                  responsive: false,
                  width: 300,
                  height: 300
            }
        });
    </script>

    








         </div>


{% endblock %}
